<!doctype html>
{% import math %}
{% set author = "Pavel Perestoronin" %}
{% set title = "Faucet | Earn free Bitcoins" %}
{% set description = "Earn and instantly withdraw Bitcoins for free." %}
{% set url = "https://bitcoin.eigenein.xyz" %}
<html lang="en" class="-stretch-vertical">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="https://eigenein.xyz/">
    <meta name="description" content="{{ description }}">

    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">

    <meta property="article:author" content="{{ author }}">
    <meta property="article:section" content="website">

    <meta name="twitter:domain" content="{{ title }}">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:site" content="{{ url }}">
    <meta name="twitter:creator" content="{{ author }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">

    <meta name="google-site-verification" content="dHnqTcx6c46jOEnF99ETLnmTzGhftam2QP2W6VQMKYg">
    <meta name="yandex-verification" content="7a7127277ca0e286">
    <meta name="msvalidate.01" content="004DA42D293FCB492990B5A360E464B7">
    <meta name="wmail-verification" content="e27596ff302b33678e97018960ea1faf">

    <title>{{ title }}</title>

    <link rel="canonical" href="{{ url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png">

    <style>
      .-align-center { text-align: center; }
      .-stretch-vertical { height: 100%; }
      .-monospace { font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace; }
      .-strong { font-weight: bold; }
      .-large { font-size: 3rem; line-height: 3.6rem; }
      .content-footer { position: absolute; bottom: 3rem; width: 100%; }
      .content-container { display: table; width: 100%; }
      .content-container > .content { display: table-cell; vertical-align: middle; }
      .ad-container { position: absolute; top: 3rem; width: 100%; text-align: center; }
      .ad { width: 120px; height: 90px; background: lightgrey; display: inline-block; }
      .notification-container { background: rgba(255, 255, 255, 0.8); position: absolute; width: 100%; top: 0; z-index: 100; }
      .notification { background: white; border-radius: 0.4rem; border: 1px solid #9b4dca; padding: 2rem; }
      ._half-width { width: 50% !important; }
    </style>
  </head>
  <body class="-stretch-vertical">

    <aside class="ad-container">
      <section class="container">
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        <iframe data-aa='123444' src='https://ad.a-ads.com/123444?size=120x90' scrolling='no' style='width:120px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
      </section>
    </aside>

    <main class="-stretch-vertical">
      <section class="-stretch-vertical">
        <div class="content-container -stretch-vertical">
          <div class="content -align-center">

            <div class="container _half-width">
              <h1>{{ title }}</h1>
              <p>
                {% if waiting_time > 0 %}
                <span id="wait">Please wait <span id="waiting_time" class="-strong">{{ math.ceil(waiting_time) }}</span> seconds to earn again.</span>
                {% else %}
                Enter your <a href="https://bitcoin.org" target="_blank">Bitcoin</a> wallet address and
                earn hundreds <a href="https://en.bitcoin.it/wiki/Satoshi_(unit)" target="_blank">Satoshi</a> instantly.<sup>1</sup><br>
                You can do that over and over each {{ Configuration.EARN_WAITING_TIME_MINUTES }} minute.
                {% end %}
              </p>
              <form method="post">
                <fieldset>
                  <input
                      type="text"
                      placeholder="Wallet address"
                      id="wallet_address_input"
                      name="wallet_address"
                      class="-monospace"
                      value="{{ wallet_address }}"
                      required>
                  <input type="hidden" id="c" name="c">
                  <input class="button-primary" type="submit" value="Earn!" onclick="yaCounter34989700.reachGoal('EARN');">
                  {% module xsrf_form_html() %}
                </fieldset>
              </form>
              {% if balance is not None %}
              <p>
                Your balance is <span class="-strong">{{ balance * 100 }} Satoshi</span>.
                {% if balance < Configuration.COINBASE_API_MINIMUM_AMOUNT_BITS %}
                Earn <span class="-strong">{{ 100 * (Configuration.COINBASE_API_MINIMUM_AMOUNT_BITS - balance) }} Satoshi</span>
                more and we'll send you the whole amount.
                {% end %}
              </p>
              {% end %}
            </div>

          </div>
        </div>
      </section>

      {% if sent_amount %}
      <section id="notification" class="-stretch-vertical">
        <div
          class="content-container notification-container -stretch-vertical"
          onclick="document.getElementById('notification').style.display = 'none';">

          <div class="content">
            <div class="notification container -align-center _half-width">
              <span class="-large">
                <span class="-strong">{{ sent_amount * 100 }} Satoshi</span> have been just sent to your wallet!
              </span>
              <div>Once the network will confirm the transaction you'll see updated balance.</div>
              <div>In the meantime you can continue earning as usual.</div>
            </div>
          </div>
        </div>
      </section>
      {% end %}
    </main>

    <footer class="content-footer">
      <section class="container -align-center">
        <p>
          <sup>1</sup> No any guarantee since the service is totally free •
          Hosted on <a href="https://m.do.co/c/af634cb0cc20" target="_blank">DigitalOcean</a> •
          Payments powered by <a href="https://www.coinbase.com/join/eigenein" target="_blank">Coinbase</a> •
          <a href="https://telegram.me/eigenein" target="_blank">Contact</a>
        </p>
      </section>
    </footer>

    <script src="/static/ToProgress.min.js"></script>

    <script>
      document.getElementById("c").value = "js";

      function main() {
        var targetTime = Date.now() + {{ waiting_time * 1000.0 }};
        var progressBar = new ToProgress({color: "#9b4dca", height: "2px", duration: 1.0});
        var intervalID = window.setInterval(function () {
          if (Date.now() > targetTime) {
            window.clearTimeout(intervalID);
            progressBar.hide();
            document.getElementById("wait").innerHTML = "<span class='-strong'>You can earn again!</span>";
            document.title = "Ready | {{ title }}";
          } else {
            var waitingTime = (targetTime - Date.now()) / 1000.0;
            progressBar.setProgress(100.0 * (1.0 - waitingTime / {{ Configuration.EARN_WAITING_TIME }}));
            document.getElementById("waiting_time").innerHTML = Math.round(waitingTime);
            document.title = Math.round(waitingTime) + " seconds | {{ title }}";
          }
        }, 1000);
      };

      {% if waiting_time > 0.0 %}
      window.onload = main;
      {% end %}
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34989700 = new Ya.Metrika({ id:34989700, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/34989700" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
